<section class="flex flex-col">


<div class="flex justify-end md:justify-end justify-between bg-[#0483f2] h-[40px] items-center 
            px-4 md:px-[100px] gap-4 md:gap-[50px]">
  <h6 class="text-white text-sm md:text-base">Philip Tesch</h6>

  <div class="flex gap-2 md:gap-[20px]">
  <img  src="assets/img/linkedinButton.png" alt="LinkedIn" class="w-6 h-6 md:w-8 md:h-8">
  <img src="assets/img/githubButton.png" alt="LinkedIn" class="w-6 h-6 md:w-8 md:h-8">
  </div>
</div>

    <div  class="flex justify-between items-center pt-[30px] pr-[30px] md:pr-[90px] pb-[20px] pl-[20px] md:pl-[90px] bg-[#9a9e9e]" >
    <h1 class="text-2xl sm:text-4xl lg:text-6xl font-medium"> Tourenplan</h1>
   <img class="w-[150px] h-[100px] sm:w-[200px] sm:h-[100px] lg:w-[300px] lg:h-[120px]" src="assets/img/truck-303460_1280.png" alt="Truck">
    </div>
</section>
