.main-page {
    width: 100%;
    height: 100%; 
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    margin: 0;
}


.animatedSlider {
  animation: slide-in 1s ease-out forwards;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.finalSlider {
  animation: none !important;
  transform: translateX(0) !important;
  opacity: 1 !important;
}

// Keyframes für das Einfliegen von links nach rechts
@keyframes slide-in {
  from {
    transform: translateX(-100%); // START links außerhalb
    opacity: 0;
  }
  to {
    transform: translateX(0);     // ENDE an normaler Position
    opacity: 1;
  }
}