
<div class="flex items-center gap-[15px]">
<div class="relative">
<mat-icon (mouseleave)="showInfoText(false)" (mouseover)="showInfoText(true)" class="cursor-pointer ml-[10px]" (click)="openDialog()"   fontIcon="menu"></mat-icon>
<div *ngIf="infoTextVisible"  class="border-solid border border-black absolute left-[29%] bottom-[100%] flex bg-[#f0f8ff] rounded-[40px]  w-[200px] h-[50px]" >
    <span class="text-center "> Hier kannst du die Tour-Packet ändern</span>
</div>
</div>

<h4 class="w-[50%] text-center text-[30px]"> Tour</h4>
<div class="relative">
<mat-icon class="cursor-pointer ml-[10px]"   fontIcon="more_vert"></mat-icon>
</div>
</div>
<section class="w-full mt-[5px] gap-[20px] h-full flex items-center justify-start flex-col bg-[#E91E63]">

  
    <div class="flex items-center gap-[15px] mt-[12px] w-full">
        <h6>Uhrzeit:</h6>
        <time datetime=""> {{time}}:00</time>

    </div>

    <div class="relative flex justify-center">
        <h6 (click)="openDialogArticleView()" (mouseleave)="showInfoTextArticle(false)" (mouseover)="showInfoTextArticle(true)" class="cursor-pointer relative  hover:underline"> Artikelvorschau</h6>
        <span> {{article.name}}
        </span>

        <div *ngIf="showArticleView"  class="border-solid border border-black absolute bottom-[25px] flex bg-[#f0f8ff] rounded-[40px]  w-[215px] h-[50px]" >
            <span class="text-center "> hier stieht du die Artikel die eingeplant sind</span>
        </div>


    </div>

</section>
