

.logoImage {
    width: 200px;
    height: auto;
    border-radius: 140px;
}


.logo-main-page {
    display: flex;
    align-items: center;
    gap: 20px;
}


.headline {
font-size: 48px;
font-weight: bolder;
}