.backgroundHover {
    background-color: red;
}


.mat-mdc-dialog-container .mdc-dialog__container {
    position: absolute !important;
    top: 40px !important;
    left: 40% !important;
    height: 400px !important;
    width: 400px !important;
}
