/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    width: 100%;
    margin: 0;
    overflow: hidden;

@media (max-width: 1800px) {
  justify-content: start;
}

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 .mdc-dialog__container {
    position: absolute !important;
    top: 40px !important;
    left: 40% !important;
    height: 400px !important;
    width: 400px !important;
}



.custom-dialog-2 .mdc-dialog__container {
    position: absolute !important;
    top: 30px !important;
    left: 45% !important;
    height: 400px !important;
    width: 260px !important;
}
.custom-dialog-2 .mdc-dialog__surface {
  padding: 20px !important;
}


.custom-dialog-2 .mdc-dialog__surface {
  scrollbar-color: #031d34f5 white;
  scrollbar-width: thin;
}



.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 5%;
  background: linear-gradient(145deg, #0c2de3, #3049f0);
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}